<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7fba77">  <td>17/03/28 19:05:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AcceptFormSharingTest.acceptFormTest()[pri:10, instance:SF_2_0_AcceptFormsSharing_Test.AcceptFormSharingTest]">acceptFormTest</td> 
  <td>main@1483298597</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>17/03/28 19:06:28</td>   <td>58049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:SF_2_0_AcceptFormsSharing_Test.AcceptFormSharingTest]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1483298597</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>17/03/28 19:05:16</td>   <td>-13638</td> <td title="&gt;&gt;TestBase.beforeSuit()[pri:0, instance:SF_2_0_AcceptFormsSharing_Test.AcceptFormSharingTest]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1483298597</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>17/03/28 19:06:28</td>   <td>58049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.destor(org.testng.ITestResult)[pri:0, instance:SF_2_0_AcceptFormsSharing_Test.AcceptFormSharingTest]">&lt;&lt;destor</td> 
<td>&nbsp;</td>  <td>main@1483298597</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>17/03/28 19:05:16</td>   <td>-13612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.reflect.Method)[pri:0, instance:SF_2_0_AcceptFormsSharing_Test.AcceptFormSharingTest]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1483298597</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>17/03/28 19:06:28</td>   <td>58051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.reflect.Method)[pri:0, instance:SF_2_0_AcceptFormsSharing_Test.AcceptFormSharingTest]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1483298597</td>   <td></td> </tr>
</table>
