<h2>Reporter output</h2><table><tr><td><a href="C:\LocalExostarRepo\pim\FUNCTIONAL\SecureForms\Report\Screenshot\28-03-2017_19-05-301.png"> Navigete to 'https://egrcqa.exostartest.com/secure' URL</a> <br /></td></tr>
<tr><td><a href="C:\LocalExostarRepo\pim\FUNCTIONAL\SecureForms\Report\Screenshot\28-03-2017_19-05-342.png"> Verify user is on 'Landing Page'</a> <br /></td></tr>
<tr><td><a href="C:\LocalExostarRepo\pim\FUNCTIONAL\SecureForms\Report\Screenshot\28-03-2017_19-05-353.png"> Enter User Id: 'dabhis_0398'</a> <br /></td></tr>
<tr><td><a href="C:\LocalExostarRepo\pim\FUNCTIONAL\SecureForms\Report\Screenshot\28-03-2017_19-05-374.png"> Enter Password: 'Password@2'</a> <br /></td></tr>
<tr><td><a href="C:\LocalExostarRepo\pim\FUNCTIONAL\SecureForms\Report\Screenshot\28-03-2017_19-05-415.png"> Click on 'Login' button</a> <br /></td></tr>
<tr><td><a href="C:\LocalExostarRepo\pim\FUNCTIONAL\SecureForms\Report\Screenshot\28-03-2017_19-05-466.png"> Click on 'Adoption' tab</a> <br /></td></tr>
<tr><td><a href="C:\LocalExostarRepo\pim\FUNCTIONAL\SecureForms\Report\Screenshot\28-03-2017_19-05-467.png"> Verify user is on 'Adoption' page</a> <br /></td></tr>
<tr><td><a href="C:\LocalExostarRepo\pim\FUNCTIONAL\SecureForms\Report\Screenshot\28-03-2017_19-05-488.png"> Click on 'Begin New Invitation' link</a> <br /></td></tr>
<tr><td><a href="C:\LocalExostarRepo\pim\FUNCTIONAL\SecureForms\Report\Screenshot\28-03-2017_19-05-569.png"> Click on button 'Search Organization'</a> <br /></td></tr>
<tr><td><a href="C:\LocalExostarRepo\pim\FUNCTIONAL\SecureForms\Report\Screenshot\28-03-2017_19-05-5610.png"> Enter organization name: 'My Automation Test Org 14'</a> <br /></td></tr>
<tr><td><a href="C:\LocalExostarRepo\pim\FUNCTIONAL\SecureForms\Report\Screenshot\28-03-2017_19-06-0011.png"> Click on 'Search' button</a> <br /></td></tr>
<tr><td><a href="C:\LocalExostarRepo\pim\FUNCTIONAL\SecureForms\Report\Screenshot\28-03-2017_19-06-1312.png"> Click on 'My Automation Test Org 14' organization link to invite it</a> <br /></td></tr>
</table>